.test{
    border: 3px solid black;
    width: 200px;
    height: 450x;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(150, 150,150);
    animation-name: name;
    transition: transform 0.5s ease;
    display: in;
}

p{
    font-size: 15px;
}

.test:hover{
    transform: translateY(-10px);
}
